.header {
    background-color: white;
    color: rgb(31, 182, 31);
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 85%;
}
.header .container {
    display: flex;
    justify-content: space-between;
}